@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,700;1,500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}
.container{
    max-width: 1440px;
    height: max-content;
    margin: auto;
    padding: 0;
    nav{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding:30px  ;
        border-radius: 0px 0px 30px 30px;
        box-shadow: 0 .1px .9px #cecdcd;
        h1{
            font-size: 36px ;
            font-weight: 550;
            cursor: pointer;
        }
        p{
            font-size: 24px;
            font-weight: 500;
            color: #212121;
        }
    }
    .first-page{
        width: 100%;
        height: max-content;
        display: flex;
        justify-content: space-between;
        margin-bottom: 100px;
        &_text{
            margin-top: 150px;
            display: flex;
            flex-direction: column;
            align-items:start;
            gap: 25px;
            margin-left: 30px;
        }
        &_h1{
            display: flex;
            font-size: 110px;
            font-weight: 500;
            align-items: center;
            gap: 30px;
            img{
                height: 100px;
            }
        }
        &_p{
            font-size: 27px;
            font-weight: 400;
            line-height: 35.41px;
            width: 50%;
            margin-bottom: 70px;
        }
        &_btn{
            cursor: pointer;
            &:active{
                transform: translateY(3px);
                transition: .3s;
            }
        }
        &_icons{
            margin-top: 50px;
        }   
    }
    .second-page{
        width: 100%;
        height: max-content;
        margin-bottom: 150px;
        &_item-home{
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(400px, 400px) ) ;
            align-items: center;
            justify-content: space-around;
            &_items{
            border: 3px solid #9864AA;
            transform: scale(.97);
            padding: 40px 90px;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            cursor: pointer;
            gap: 30px;
            &:hover{
                transform: scale(1);
            }
            h1{
                font-size: 35px;
                font-weight: 500;
            }
        }
        }
    }
    .third-page{
        width: 100%;
        height: max-content;
        margin-bottom: 200px;
        &_btn{
            padding: 12px 40px;
            font-size: 27px;
            font-weight: 500;
            background: #9864AA;
            color: #fff;
            border: none;
            border-radius: 0px 15px 15px 0px;
            cursor: pointer;
        }
        &_home{
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(400px, 400px) ) ;
            align-items: center;
            justify-content: space-around;
            margin-top: 150px;
            gap: 50px;
            &_items{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 50px;
                font-size: 30px;
                font-weight: 500;
                    .hoverbox {
                        position: relative;
                        overflow: hidden; 
                        transition: transform 0.3s ease; 
                        color: #212121;
                        &:hover {
                        
                            h1 {
                                opacity: 1; 
                                transform: translateY(-50%); 
                            }
                        }
                        h1 {
                            position: absolute; 
                            top: 80%; 
                            left: 30%; 
                            transform: translate(-50%,150%); 
                            opacity: 0; 
                            transition: opacity 0.3s ease, transform 0.3s ease;
                        }
                    }
                
                img{
                    border-radius: 50%;
                    cursor: pointer;
                }
            }
        }
    }
    .footer{
        width: 100%;
        height: max-content;
        padding-bottom: 20px;
        &_btn{
            padding: 12px 40px;
            font-size: 27px;
            font-weight: 500;
            background: #9864AA;
            color: #fff;
            border: none;
            border-radius: 0px 15px 15px 0px;
            cursor: pointer;
        }
        &_home{            width: 100%;
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(70px, 260px) ) ;
            justify-content: space-evenly;
            align-items: center;
            padding-top: 100px;
            &_items{
                cursor: pointer;
                img{
                    filter: grayscale(1);
                    &:hover{
                        filter: grayscale(0);
                    }
                }
            }
        }
    }
}
.third-page_btn:hover{
    color: rgb(0, 0, 255);
    transition: 1.2s;
}
.footer_btn:hover{
    color: rgb(0, 0, 255);
    transition: 1.2s;
}